<script type="text/javascript" src="https://www.simplify.com/commerce/simplify.pay.js"></script>
<button data-sc-key="sbpb_YTU3NmYzMDMtZmU3Zi00NWQ1LTgwNDYtZDJhZjliZTZmZWQ3"
        data-name="Jasmine Green Tea"
        data-description="Smooth tea with a rich jasmine bouquet"
        data-reference="99999"
        data-amount="3000"
        data-color="#12B830"
        data-masterpass="true"
        data-redirect-url="http://localhost:3000/simplify_confirm">
        Buy Now
</button>